
/* Align .content with .nav */

.nav {
 max-width: 800px; 
}

.content {
  max-width: 800px;
}

.archive-title {
 line-height: 1em;
}

/* Content colors */
.content {
  background-color: var(--uni);
  color: var(--txt);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

/* Body background color */
body {
  background-image: linear-gradient(180deg, var(--bg1) 0px, var(--bg2) 300px);
}

/* Reset header background*/
.header {
  background-color: transparent;
  border-bottom: 0;
}


.nav-links a {
  text-decoration: none;
  color: var(--main);
}

.nav-links a:hover {
  color: var(--alike);
}

.article-title {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--alike);
}


.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 12px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #808080;
  color: #fff;
}
