

/* Edit logo css */

.nav-logo {
  float: left;
  margin-top: -20px;
  transition: none;
  background-image: url("/images/logo/logo-600px-name-equal-white.svg");
  background-size: cover;
  width: 160px;
  height: 80px;
}

.nav-logo:hover {
  transform: none;
  background-image: url("/images/logo/logo-600px-name-equal-cont.svg");
}

.nav-logo img {
  display: block;
  position: absolute;
  max-height: 80px;
  width: auto;
  border-radius: 0%;
  transition: transform 0.25s ease-in-out;
}

.nav-logo:hover img {
  transform: rotate(120deg);
}

/* change logo color on hover 
#logo-name img:nth-of-type(1) {
  opacity: 0;
}

#logo-name img:nth-of-type(2) {
  opacity: 1;
}

#logo-name img:nth-of-type(3) {
  transition: transform 0.25s ease-in-out;
}

#logo-name:hover img:nth-of-type(1) {
  opacity: 1;
}

#logo-name:hover img:nth-of-type(2) {
  opacity: 0;
}
*/

/* fast rotate logo on hover 
#logo-name:hover img:nth-of-type(3) {
  transform: rotate(360deg);
}
*/

/* animate hex --- uncomment images in nav.html
#logo-hex img {
  -webkit-animation: hex-rotation 6s infinite linear;
  -moz-animation: hex-rotation 6s infinite linear;
  -o-animation: hex-rotation 6s infinite linear;
  -ms-animation: hex-rotation 6s infinite linear;
  animation: hex-rotation 6s infinite linear;
}

@keyframes hex-rotation {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0.9;
  }
  16.67% {
    opacity: 0;
  }
  95.83% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

#logo-hex img:nth-of-type(1) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}
#logo-hex img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}
#logo-hex img:nth-of-type(3) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
#logo-hex img:nth-of-type(4) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}
#logo-hex img:nth-of-type(5) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
#logo-hex img:nth-of-type(6) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

 */
