:root {
  --main: #3b83bc;        /* rgba( 59, 131, 188, 1) */
  --main-light: #74a5d2;  /* rgba(116, 165, 210, 1) */
  --alike: #3cb5b8;       /* rgba( 60, 181, 184, 1) */
  --alike-light: #86cfd6; /* rgba(134, 207, 294, 1) */
  --cont: #ffc582;        /* rgba(255, 197, 130, 1) */
  --cont-light: #ffd7b0;  /* rgba(255, 215, 176, 1) */
  --wtf: #fc4445;
  --bg: #f5f5f5;
  /*--bg-img: url("/bg-light.png"); */
  --bg-img: url("/background/bg-light.png");
  --bg-content :rgba(245, 245, 245, 0.9);
  --txt: #333;
  --box: var(--main-light);
  --box-bg: rgba(116, 165, 210, 0.1);
  --shadow: 5px 10px 20px var(--main-light);
}

