
/* Align .content with .nav */

.nav {
 max-width: 800px; 
}

.content {
  max-width: 800px;
  padding: 1em;
}

/* Adjust archive title height to have text not cross the content frame */
.archive-title {
 line-height: 1em;
}


/* add space between icon and symbol out */
.fa-arrow-up-right-from-square {
  margin-left: 4px;
}


/* Body background color */
body {
  /*background-image: linear-gradient(180deg, var(--light) 0%, transparent 200px, transparent 100%), var(--bg-img-light);*/
  background-image: var(--bg-img-dark);
  /*background-image: linear-gradient(180deg, transparent 0%, transparent 50px, var(--light) 200px, var(--light) 100%), var(--bg-img-dark);*/
  background-size: cover;
}


/* Content colors */
.content {
  background-color: var(--bg-content);
  color: var(--dark);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

.article-title {
  color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--alike);
}

/* Footer always at bottom of page */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/* Reset header background*/
.header {
  background-color: transparent;
  border-bottom: none;
}

/*.nav {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid var(--light);
}*/

.nav-links {
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--light);
}

.nav-links a:hover {
  color: var(--cont);
  font-weight: bold;
}


.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 12px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #808080;
  color: #fff;
}

/* Tabset CSS */

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: #efefef;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}

.label:hover {
  background: #d8d8d8;
}

.label:active {
  background: #ccc;
}

.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

.input:checked + .label {
  background: #fff;
  color: #000;
}

@media (min-width: 600px) {
  .label {
    width: auto;
  }
}

.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .label + .panel {
  display: block;
}