

/* Edit logo css */

.nav-logo {
  float: left;
  margin-top: -20px; /* -11px for 50 px logo, increased to match logo of 60 px */
  /* transition: transform 1s; */
}

.nav-logo:hover {
  transform: none;
}

.nav-logo img {
  display: block;
  position: absolute;
  max-height: 60px; /* 40px */
  width: auto;
  border-radius: 0%; /* 50% */
  -webkit-transition: filter 0.1s ease-in-out;
  -moz-transition: filter 0.1s ease-in-out;
  -o-transition: filter 0.1s ease-in-out;
  transition: filter 0.1s ease-in-out;
}

/* Applying filter to get the color, see: https://codepen.io/sosuke/pen/Pjoqqp */
.nav-logo img.top {
  filter: invert(28%) sepia(94%) saturate(1363%) hue-rotate(195deg) brightness(90%) contrast(83%);
}

.nav-logo img.top:hover {
  filter: invert(55%) sepia(86%) saturate(5484%) hue-rotate(336deg) brightness(100%) contrast(98%);
}

