

/* Edit logo css */

.nav-logo {
  float: left;
  margin-top: -20px; /* -11px for 50 px logo, increased to match logo of 60 px */
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 60px; /* 40px */
  width: auto;
  border-radius: 0%; /* 50% */
}