
/* custom css for home page */

/* home settings */
#home {
  /*background-image: linear-gradient(180deg, var(--light90) 0%, transparent 200px, transparent 100%), var(--bg-img-dark);*/
  background-image: var(--bg-img-dark);
  background-repeat: no-repeat;
  background-size: cover;
}

#home .content {
  background-color: transparent;
  color: var(--light);
  border-radius: 4px;
  box-shadow: none;
  text-align: center;
  margin-top: 0;
}

#home .article-title {
  color: var(--light);
}

#home h2 {
  color: var(--light);
  font-weight: normal;
  font-size: 2em;
}

#home .article-content a {
  text-decoration: underline var(--cont);
  transition: color 150ms ease;
  color: inherit;
  border-bottom: none;
  box-shadow: none;
}

#home .article-content a:hover, .article-content a:focus {
  color: var(--cont);
  background: transparent;
}



/* Cube */
.img-cube {
  width: var(--cube-width);
  height: calc(var(--cube-width) * 0.5625);
  perspective: 750px;
  margin: 4em auto 4em auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.0s ease-in-out;
  /*animation: rotate 20s ease-in-out infinite; */
}

.face {
  position: absolute;
  width: var(--cube-width);
  height: calc(var(--cube-width) * 0.5625);
  border-radius: 4px;
  border: 2px solid var(--light);
  line-height: calc(var(--cube-width) * 0.5625);
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: var(--cube-opacity);
}

.front  { 
  background-image: var(--cube-img1);  
  background-size: contain; 
}
.right  { 
  background-image: var(--cube-img2);  
  background-size: contain; 
}
.back   { 
  background-image: var(--cube-img3);  
  background-size: contain; 
}
.left   {
  background-image: var(--cube-img4);  
  background-size: contain; 
}

.front  { transform: rotateY(  0deg) translateZ(calc(var(--cube-width) / 2)); }
.right  { transform: rotateY( 90deg) translateZ(calc(var(--cube-width) / 2)); }
.back   { transform: rotateY(180deg) translateZ(calc(var(--cube-width) / 2)); }
.left   { transform: rotateY(-90deg) translateZ(calc(var(--cube-width) / 2)); }

/* replaced with JS onclick() 
@keyframes rotate {
    0%, 15% { transform: rotateY(0); }
    25%, 40% { transform: rotateY(-90deg); }
    50%, 65% { transform: rotateY(-180deg); }
    75%, 90% { transform: rotateY(-270deg); }
    100% { transform: rotateY(-360deg); }
}
*/

/* Cube backup 
.scene {
  width: 400px;
  height: 225px;
  perspective: 600px;
  margin: 4em auto 4em auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s ease-in-out infinite;
}

.cube__face {
  position: absolute;
  width: 400px;
  height: 225px;
  border-radius: 4px;
  border: 2px solid var(--light);
  line-height: 225px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: 0.95;
}

.cube__face--front  { 
  background-image: url("/images/sola-analytics.png");  
  background-size: contain; 
}
.cube__face--right  { 
  background-image: url("/images/sola-analytics-sign.png");  
  background-size: contain; 
}
.cube__face--back   { 
  background-image: url("/images/sola-analytics-gradient1.png");  
  background-size: contain; 
}
.cube__face--left   {
  background-image: url("/images/sola-analytics-forest.png");  
  background-size: contain; 
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(200px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(200px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(200px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(200px); }

@keyframes rotate {
    0%, 15% { transform: rotateY(0); }
    25%, 40% { transform: rotateY(-90deg); }
    50%, 65% { transform: rotateY(-180deg); }
    75%, 90% { transform: rotateY(-270deg); }
    100% { transform: rotateY(-360deg); }
} 
*/

