<!-- Original nav.html logo part -->
<!--
<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>
-->

<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <div id="logo-name">
      <img src="/images/logo/logo-600px-name-red.svg"
           width="{{ .Site.Params.logo.width }}"
           height="{{ .Site.Params.logo.height }}"
           alt="{{ .Site.Params.logo.alt }}">
      <img src="/images/logo/logo-600px-name.svg"
           width="{{ .Site.Params.logo.width }}"
           height="{{ .Site.Params.logo.height }}"
           alt="{{ .Site.Params.logo.alt }}">
      <img src="/images/logo/logo-600px-hex1.svg"
           height="{{ .Site.Params.logo.height }}">
    </div>
    <!--div id="logo-hex">
      <img src="/logo/logo-600px-hex3a.svg"
           height="{{ .Site.Params.logo.height }}">
      <img src="/logo/logo-600px-hex3.svg"
           height="{{ .Site.Params.logo.height }}">
      <img src="/logo/logo-600px-hex2a.svg"
           height="{{ .Site.Params.logo.height }}">
      <img src="/logo/logo-600px-hex2.svg"
           height="{{ .Site.Params.logo.height }}">
      <img src="/logo/logo-600px-hex1a.svg"
           height="{{ .Site.Params.logo.height }}">
      <img src="/logo/logo-600px-hex1.svg"
           height="{{ .Site.Params.logo.height }}">
    </div-->
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>